@font-face {
    font-family: 'Beleren Bold';
    src: url('../fonts/Beleren-Bold.ttf');
}

/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
    box-sizing: border-box; /* IE */
}

/* Clear fix hack */
/*put clearfix on parent elements with floated children to auto clear float on the children*/
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

.align_right {
    float: right;
    padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.align_left {
    float: left;
    padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

html, body {
    min-height: 100%;
    min-width: 100%;
}

body {
    overflow: hidden;
    margin: 0;
    font-family: 'Beleren Bold', sans-serif;
    text-transform: uppercase;
    position: relative;
}

/******************************************
/* PAGE WRAPPER
/*******************************************/

.main {
    background: url('../images/black_lotus_bg.jpg') no-repeat center fixed;
    background-size: cover;
    position: relative;
    height: 100vh;
}

/******************************************
/* LEFT HAND PANE
/*******************************************/

.info-pane {
    #background: rgba(255,255,255,0.2);
    #box-shadow: -4px 0 25px 18px rgba(255, 255, 255, 0.2), 0 0 5px -4px rgba(255, 255, 255, 0.2);
    position: relative;
    float: left;
    text-transform: none;
    text-align: center;
    font-size: 75%;
    height: 100%;
    width: 30%;
    margin-left: 15px;
}

/******************************************
/* LOGO DIV
/*******************************************/

.logo {
    max-width:66%;
}

.logo > img {
    max-width: 100%;
}

.logo > h1 {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2.5em;
}

/******************************************
/* STATS DIV
/*******************************************/

.stats {
    background: rgba(255,255,255,0.5);
    box-shadow: 0px 0 25px 18px rgba(255, 255, 255, 0.5), 0 0 5px -4px rgba(255, 255, 255, 0.5);
    width: 90%;
    height: 60%;
    margin: 30px auto 0 15px;
}

.stats h2 {
    position: relative;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    margin: 0 0 10px 0;
    font-size: 3em;
}

.stats .life-total {
    font-size: 4em;
    margin-bottom: 20px;
}

.stats .effects-header,
.stats .matches {
    font-size: 1.8em;
}

.stats ul {
    list-style: none;
    font-size: 1em;
}

.stats ul > li {
    text-align: left;
    font-weight: 600;
}

.stats ul.win-display {
    text-align: center;
    padding-left: 0;
    font-size: 1.3em;
}

.stats ul.win-display li {
    display: inline-block;
}

.stats ul.win-display li:first-child {
    margin-right: 10px;
}

.player-stats{
    #background: rgba(55,55,55,0.5);
    width: 49%;
    text-align: left;
    height: 90%;
}

.player1-stats,
.player2-stats {
    display: inline-block;
    border: 1px solid rgba(0,0,0,.5);
}

.player-name,
.life-total {
    color: white;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

/******************************************
/* MAIN GAME AREA
/*******************************************/

.game_area_style {
    padding-top: 1%;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: -4px 0 25px 18px rgba(255, 255, 255, 0.2), 0 0 5px -4px rgba(255, 255, 255, 0.2);
    height: 100%;
    width: 66%;
    max-width: 845px;
    max-height: 607px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    float: right;
    margin-right: 1%;
    -webkit-perspective: 1500px;

}

/******************************************
/* CARD STYLES
/*******************************************/

.card{
    height: 170px;
    width: 130px;
    position: relative;
    transform: rotate3D(0,1,0,0deg);
    transition-duration: .6s;
    transform-style: preserve-3d;
    border-radius: 7px;
}

.card img{
    width: 100%;
    height: 100%;
}

/*TODO change backface visibility again and remove opacity from .back*/

.front{
    position: absolute;
    transform: rotate3D(0,1,0,180deg);
    border: 7px solid black;
    border-radius: 5px;
    #backface-visibility: hidden;
    height: 100%;
    width: 100%;
}

.back{
    position: absolute;
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
    opacity: 0.5;
}

.back img {
    border-radius: 7px;
}

.front img{
    overflow:hidden;
    height: 100%;
    width: 100%;
}

.back img{
    height: 100%;
    width: 100%;
}

.flipped{
    transform: rotate3D(0,1,0,180deg);
}

/******************************************
/* OVERLAY STYLES
/*******************************************/

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: #000;
    -webkit-box-shadow: inset 5px 10px 55px 71px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 5px 10px 55px 71px rgba(0,0,0,0.75);
    box-shadow: inset 5px 10px 55px 71px rgba(0,0,0,0.75);
    background-size: cover;
}

#fog,
#fog2 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2000px;
    height: 2000px;
    margin-top: -1000px;
    margin-left: -1000px;
    opacity: .5;
    background: url("../images/fog.png") repeat-x 0 center;
    -webkit-animation-name: fogAnimation;
    -webkit-animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

#fog2 {
    opacity: .75;
    -webkit-animation-duration: 120s;
}

@-webkit-keyframes fogAnimation {
    from {
        -webkit-transform: rotate(0deg);
        background-position: 0 center;
    }
    to {
        -webkit-transform: rotate(360deg);
        background-position: 1000px center;
    }
}

/******************************************
/* COIN FLIP STYLES
/*******************************************/

.coin-container {
    z-index: 999;
    position: absolute;
    width:256px;
    height:256px;
    margin-left:-130px;
    margin-top:-130px;
    top:50%;
    left:50%;
    perspective: 1000;
    -webkit-perspective: 1000;
    -webkit-box-reflect: below 0 linear-gradient( hsla(0,0%,100%,0), hsla(0,0%,100%,0) 45%, hsla(0,0%,100%,0.2));
    -webkit-filter: ~"saturate(1.45) hue-rotate(2deg)";
}

.coin {
    position:relative;
    -webkit-transform:rotateY(0deg);
    transform-style: preserve-3d;
    transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.6s;
}

.coin-front, .coin-back {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    width:256px;
    height:256px;
    border-radius:150px;
    position: absolute;
    top: 0;
    left: 0;
}

.coin-front {
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    background-image:url(http://www.csgostattrack.com/assets/img/teams/default_team_t_logo.png);
}

.coin-back {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    background-image:url(http://www.csgostattrack.com/assets/img/teams/default_team_ct_logo.png);
}

.coinflip-title {
    z-index: 999;
    color: white;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.coinflip-title-text {
    font-size: 4em;
}

/******************************************
/* ABILITY DIV STYLES
/*******************************************/

.ability-container{
    height: 500px;
    width: 398px;
    position: absolute;
    top: 7%;
    left: 45%;
    border-radius: 20px;
    z-index: 9999;
    opacity: 0;
    transition-duration: 2s;
    text-transform: none;
    cursor: pointer;
}

.ability-card-title {
    padding: 5px 10px;
    position: absolute;
    top: 6%;
    left: 8%;
    font-weight: bold;
}
.ability-card-img {
    position: absolute;
    top: 13%;
    left: 8.25%;
    width: 83.75%;
    height: 248px;
    z-index: 1;
    text-align: center;
    background: url("../images/card_faces/green/rancor_lg.jpg") no-repeat center center;
    background-size: cover;
}

.ability-divider {
    position: absolute;
    top: 62%;
    left: 1%;
    font-weight: bold;
    font-size: .8em;
}

.ability-divider ul {
    list-style: none;
}

.ability-divider ul > li {
    display: inline-block;
    margin: 0 12px 0 0;
}

.ability-text {
    position: absolute;
    top: 69%;
    width: 75%;
    height: 14%;
    left: 9%;
    margin: 0;
    padding: 0 2%;
    font-size: 1.1em;
    text-transform: none;
}

/******************************************
/* INITIAL DECK CHOICE STYLES
/*******************************************/

.deck-choice {
    position: relative;
    top: -450px;
    left: 0;
    width: 24em;
    height: 24em;
    padding: 2.8em;
    /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
    border-radius: 50%;
    margin: 1.75em auto 0;
    transform: rotate(-7deg) translate(0em) rotate(5deg);
    z-index: 999;
    color: #fff;
}

.deck-choice h1,
.deck-choice h2,
.deck-choice input{
    position: absolute;
    transform: rotate(2deg);
}

.deck-choice h1 {
    font-size: 4em;
    top: -61%;
    left: 17%;
}

.deck-choice input {
    top: -29%;
    height: 50px;
    width: 100%;
    border: 2px solid black;
    left: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
}

.deck-choice input:focus {
    outline-offset: -2px;
    outline: #fff auto 5px;
}

.deck-choice h2 {
    top: -5.5em;
    left: -4.5em;
    font-size: 3.5em;
    width: 100vw;
    transform: rotate(3deg);
}

.mana-group{
    position: absolute;
    top: 59%;
    left: 50%;
    transform: rotate(-1deg);
}

.initial-logo {
    position: absolute;
    top: -38%;
    left: -106%;
    transform: rotate(2deg);
    width: 45%;
}

.initial-logo h1 {
    position: absolute;
    top: 2em;
    left: 0;
    transform: rotate(0deg);
    font-size: 1.5em;
    width: 300px;
}

.mana-symbol {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8em;
    margin: -2em;
}

.mana-symbol img {
    width:100%;
    height:auto;
    display: block;
}

.deg0 {transform: rotate(-10deg) translateY(-11em) rotate(12deg);} /* 12em = half the width of the wrapper */
.deg45 {transform: rotate(-40deg) translate(8em) rotate(42deg);}
.deg135 {transform: rotate(-33deg) translateY(6em) rotate(35deg);}
.deg180 {transform: rotate(-30deg) translate(-9.25em) rotate(32deg);}
.deg225 {transform: rotate(208deg) translate(11.5em) rotate(-206deg);}

.shadowfilter {
    -webkit-filter: drop-shadow(0px 0px 0px rgba(255,255,255,.8));
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.shadowfilter-red:hover {
    -webkit-filter: drop-shadow(0px 0px 6px rgba(238, 61, 47, .8));
}

.shadowfilter-blue:hover {
    -webkit-filter: drop-shadow(0px 0px 6px rgba(0, 231, 255, .8));
}

.shadowfilter-white:hover {
    -webkit-filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, .8));
}

.shadowfilter-green:hover {
    -webkit-filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, .8));
}

.shadowfilter-black:hover {
    -webkit-filter: drop-shadow(0px 0px 6px rgba(203, 195, 193, .8));
}

/******************************************
/* TURN ANIMATION STYLES
/*******************************************/

.turn-msg {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    position: absolute;
    top: 0;
    left: 0;
}

.turn-msg h2 {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: #fff;
    #background: black;
    font-family: inherit;
    font-size: 5em;
    width: 70%;
    overflow: hidden;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 0.4em;
    text-align: center;
}
.turn-msg h2 span {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 0.5em;
    color: transparent;
}
.turn-msg-animate h2 span {
    animation: sideFade 2s linear forwards;
}

@keyframes sideFade {
    0% {
        text-shadow: 0 0 50px #fff;
        #letter-spacing: 3.2em;
        opacity: 0.2;
    }
    50% {
        text-shadow: 0 0 1px #fff;
        #letter-spacing: 0.72em;
        opacity: 0.8;
    }
    85% {
        text-shadow: 0 0 1px #fff;
        opacity: 1;
    }
    100% {
        text-shadow: 0 0 10px #fff;
        #letter-spacing: 0.4em;
        opacity: 0;
        #pointer-events: none;
    }
}

/******************************************
/* DAMAGE / LIFE GAIN ANIMATION STYLES
/*******************************************/

.life-x {
    #display:none;
    height: 65px;
    width: 55px;
    position: absolute;
    top: 193px;
    z-index: 9999;
}

.life-x img {
    height: 100%;
    width: 100%;
}

.player1-stats .life-x {
    left: 75px;
}

.player2-stats .life-x {
    left: 247px;
}

/*on damage, color is red, on life gain, color is green*/
.damage-amt {
    margin: 0;
    color: red;
    font-size: 3em;
    position: relative;
    top: -15px;
}

.damage-amt-animate {
    animation: damageAmt 1s linear forwards;
}

@keyframes damageAmt {
    from {
        position: relative;
        top: -15px;
    } to {
        position: relative;
        top: 0;
          }
}

/******************************************
/* WIN MSG STYLES
/*******************************************/

.win-box {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    transform: translate(-50%, -50%);
    background: url("../images/black_lotus_bg.jpg")no-repeat center center;
    background-size: cover;
    height: 75%;
    width: 75%;
    box-shadow: 0 0 15px 5px #141414, 0 0 15px 5px #141414 inset;
}

.winning-msg {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3em;
    width: 80%;
}

.reset {
    text-transform: uppercase;
    position: absolute;
    border: 2px solid #000;
    background-color: rgba(255,255,255,0.7);
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    width: 20%;
    margin: 0 auto 5px auto;
    bottom: 10px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
}

.reset:hover {
    background-color: rgba(255,255,255,1);
}
